name: Build

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '*.md'
      - 'LICENSE'
      - 'CMakeLists.txt'
      - 'src/native/**'
      - .github/workflows/build_native.yml
  pull_request:
    paths-ignore:
      - '*.md'
      - 'LICENSE'
      - 'CMakeLists.txt'
      - 'src/native/**'
      - .github/workflows/build_native.yml
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
        
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: ./global.json

    - name: Pack
      run: dotnet pack Alimer.Assets.sln --configuration Release
